slack:
  token: "abc123"
kafka:
  hostname: "kafka"
  port: 39092
  groupId: 1
  offset: "earliest"
  consumer_topic: "vpn-log-raw"
  producer_topic: "vpn-log-enriched"
  poll_interval: 3
maxMind:
  api_key: ""