Slack:
  token: "abc123"
kafka:
  hostname: "kafka"
  port: 39092
  groupId: 1
  offset: "latest"
  consumer_topic: "vpn-log-raw"
  poll_interval: 3
mysql:
  hostname: "mysql"
  port: 3306
  protocol: "tcp"
  database: "askjeevessecbot"
  username: "askjeevessecbot"
  password: "changeme"
  expire: 30 # 30 days
  interval: 21600 # 6 hours
GeoIP:
  file_path: "data/GeoLite2-City.mmdb"
  url: "https://download.maxmind.com/app/geoip_download?edition_id=GeoLite2-City&license_key=%s&suffix=tar.gz"
  license_key: "abc123"
ButlingButler:
  url: "http://ButlingButler"
  username: "askjeeves"
  password: "abc123"
  interval: 300 # 30 seconds
theHive:
  url: "https://thehive.local"
  api_key: "abc123"