Slack:
  token: "abc123"
kafka:
  hostname: "kafka"
  port: 39092
  groupId: 1
  offset: "latest"
  consumer_topic: "vpn-log-raw"
  poll_interval: 3
mysql:
  hostname: "mysql"
  port: 3306
  protocol: "tcp"
  database: "askjeevessecbot"
  username: "askjeevessecbot"
  password: "changeme"
  expire: 30
GeoIP:
  file_path: "data/GeoLite2-City.mmdb"
  api_key: ""